#projects {
	border-bottom: 1px solid #E5E5E5;
}

#blog {
	float: left;
	margin: 20px 0;
	width: 100%;
}

.post {
	float: left;
	margin-bottom: 25px;
	width: 100%;
}

.post .title {
	float: left;
	margin: 0;
	width: 100%;
	font-weight: bold;
}

.post .title a {
	text-decoration: none;
}

.post .content {
	float: left;
	color: #444;
}

.post .date {
	float: left;
	margin-top: 7px;
	font-size: 0.9em;
	color: #444;
}