/* latin */
@font-face {
    font-family: 'Julius Sans One';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/julius-sans-one-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/open-sans-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*  icons */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?17naz0');
    src:  url('../fonts/icomoon.eot?17naz0#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?17naz0') format('truetype'),
    url('../fonts/icomoon.woff?17naz0') format('woff'),
    url('../fonts/icomoon.svg?17naz0#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
    content: "\e900";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 13pt;
    font-family: 'Open Sans', sans-serif;
	background-color: #FAFAFA;
}

.body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

a {
    outline: none;
    text-decoration: underline;
    color: #333;
    transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

a:hover {
    color: #000 !important;
}

h1 {
	float: left;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 1.8em;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.center {
	margin:  0 auto;
	width: 650px;
	max-width: 87%;
}

#site-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEE;
    z-index: 100;
}

#site-title {
    margin: 20px 0 20px 0 !important;
	font-family: 'Julius Sans One', sans-serif;
    font-weight: 400;
    width: auto;
}

#site-title a {
    text-decoration: none;
}

#site-nav {
    float: right;
    margin: 22px 15px 0 0;
}

#site-nav a {    
    font-size: 1.1em;
    text-decoration: none;
}

#site-nav a:not(:last-of-type) {
    margin-right: 20px;
}

#site-nav a:hover {
    color: #000;
}

#site-nav span {
    float: left;
    margin-top: 3px;
    font-size: 1.3em;
}

#page-content {
    flex: 1;
    padding-top: 40px;
    margin-top: 50px;
}

#site-footer {
    flex: none;
    margin-top: 75px;
    width: 100%;
}

.error-message {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}