img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#metadata {
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	font-size: 1.05em;
}

#date {
	float: left;
	margin-right: 7px;
}

@media screen and (max-width: 600px) {

	#title h1 {
		font-size: 1.4em;
	}

	#date {
		width: 100%;
	}

}