---
layout: default
css: post
---

{% assign src = page.source_url | split: "https://" %}
{% assign src2 = src[1] | split: ".com" %}
{% case src2[0] %}
{% when 'martinmorando.medium' %}
	{% capture source %}Medium{% endcapture %}
{% when 'mundomorando' %}
	{% capture source %}MundoMorando{% endcapture %}
{% endcase %}

<div id="page-content">
	<div class="center">
		<div id="title"><h1>{{ page.title }}</h1></div>
		<div id="metadata">
			<span id="date">{{ page.date | date: "%b %d, %Y"}}</span>
			{% if source %}<span><a href="{{ page.source_url }}">[Publicado en  {{ source }}]</a></span>{% endif %}
		</div>
		<div id="image"><img src="{{ site.url }}/{{ page.image }}" alt="{{ page.title }}" /></div>
		<div class="content">{{ content }}</div>
	</div>
</div>